html,body {
    height: 100%;
}

p {
    text-align: left;
    line-height: 5px;
}
.enter_data_form {
    display: inline-block;
}
.enter_job_form {
    display: inline-block;
}
.bottom_buttons {
    display: inline-block;
}
.error {
    color: red;
    list-style-type: none;
}
.container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 20px;
}

.bottom-space {
    padding-top: 15px;
}
