<form action="{% url 'workcenters:engineering_save_data' urluniqueid %}" method="post" class="enter_data_form">
    {% csrf_token %}
    {% include 'jobs/form_templates/new_field_form_template.html' %}
    <button type="submit" name="save_field" id="field{{ forloop.counter }}" value="{{ field.id }}">Save</button>
</form>
<form action="{% url 'workcenters:engineering_delete_field' urluniqueid %}" method="post" class="enter_data_form">
    {% csrf_token %}
    <button type="submit" name="delete_field" id="field{{ forloop.counter }}" value="{{ field.id }}">Remove Field</button>
</form>
