<html lang="en">
<head>
    <style>
        p {
            text-align: left;
            line-height: 5px;
        }
        .enter_data_form {
            display: inline-block;
        }
        .enter_job_form {
            display: inline-block;
        }
        .bottom_buttons {
            display: inline-block;
        }
    </style>
</head>

<h1><a class="navbar-brand" href="/embossers">{{ job.job_id }}</a></h1>

{% ifequal job.hase_job_name_been_set False %}
    {% include 'embossers/forms/job_number_form.html' %}
{% endifequal %}
<p>Process Template In Use:&emsp;{{ job.process_outline }}
    <!-- <ul>
    {% for process in process_list %}
        <li>{{ process }}</li>
    {% endfor %}
    </ul> -->
</p>
<br />
<p>Date Created:&emsp;&emsp;{{ job.date_created }}</p>
<p>Last Updated:&emsp;&emsp; {{ job.last_update }}</p>
<p>&emsp;</p>
<p>&emsp;</p>

<!-- {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %} -->

{% for field in job.field_set.all %}
    {% ifnotequal field.field_has_been_set False %}
        {% ifnotequal field.editing_mode True %}
            {% include 'embossers/forms/saved_field_form.html' %}
        {% else %}
            {% include 'embossers/forms/existing_field_form.html' %}
        {% endifnotequal %}
    {% else %}
        {% include 'embossers/forms/new_field_form.html' %}
    {% endifnotequal %}
{% endfor %}


<form action="{% url 'embossers:add_field' job.id %}" method="post" name="add_field">
    {% csrf_token %}
    <input type="submit" name="add_field" value="Add Field"/>
</form>

<br /><br /><br /><br />

{% if errors %}
    {% for error in form.errors %}
        <h1>{{ error }}</h1>
    {% endfor %}
{% endif %}

<form action="" method="post" class="bottom_buttons">
    {% csrf_token %}
    <button type="submit" class="full_page_submit" name="full_page_submit"><strong>Submit Full Form</strong></button>
</form>

</html>
