<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'embossers/style.css' %}" />


</head>

<h1><a class="navbar-brand" href="/embossers">{{ job.job_id }}</a></h1>

{% ifequal job.has_job_name_been_set False %}
    {% include 'embossers/forms/job_number_form.html' %}
{% endifequal %}
<p>Process Template In Use:&emsp;{{ job.process_outline }}
    {% if job.has_process_outline_been_modified_for_this_operation == True %}
        &emsp;&emsp;-- Edited --
    {% endif %}
</p>
<br />
<p>Date Created:&emsp;&emsp; {{ job.date_created }}</p>
<p>Last Updated:&emsp;&ensp;&ensp;{{ job.last_update }}</p>
{% if job.completed == True %}
    <p>Completed:&emsp;&emsp;&ensp;&ensp;{{ job.date_submitted }}</p>
{% endif %}
<p>&emsp;</p>
<p>&emsp;</p>


{% for field in job.field_set.all %}
    {% ifnotequal field.field_has_been_set False %}
        {% ifnotequal field.editing_mode True %}
            {% include 'embossers/forms/saved_field_form.html' %}
        {% else %}
            {% include 'embossers/forms/existing_field_form.html' %}
        {% endifnotequal %}
    {% else %}
        {% include 'embossers/forms/new_field_form.html' %}
    {% endifnotequal %}
{% endfor %}


{% if job.completed == False %}
    <form action="{% url 'embossers:add_field' job.id %}" method="post" name="add_field">
        {% csrf_token %}
        <input type="submit" name="add_field" value="Add Field"/>
    </form>
{% endif %}

<br /><br /><br /><br />

{% if job.completed == False %}
    {% include 'embossers/forms/submit.html' %}
{% endif %}

</html>
