/* Base Page Styling */
body {
    height: 100%;
}

p {
    text-align: left;
    line-height: 5px;
}

.bottom-space {
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    margin-top: 15px;
}

/* Pick Work Center Page Styling */

/* Job Index Page Styling */
.operation-list {
    margin-left: 25px;
}

/* Job Detail Page Styling */
.danger {
    color: #d9534f;
}

.instructions {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Form Stylings */
.enter_data_form {
    display: inline-block;
}

.enter_job_form {
    display: inline-block;
}

.bottom_buttons {
    display: inline-block;
}

.error {
    color: red;
    list-style-type: none;
}
