/* Base Page Styling */
html,body {
    height: 100%;
}

@media print {
  a[href]:after {
    content: none !important;
  }
}

p {
    text-align: left;
    line-height: 5px;
}

.bottom-space {
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo {
    margin-top: 15px;
}

.none-avail {
    margin-left: 0px;
    margin-top: 15px;
}

/* Pick Work Center Page Styling */
.manager-button {
    margin-top: 20px;
}

.centers {
    margin-left: 15px;
}

.two-buttons {
    display: inline;
}

/* Job Index Page Styling */
.operation-list {
    margin-left: 0px;
}

/* Job Detail Page Styling */
.danger {
    color: #d9534f;
}

.instructions {
    margin-top: 20px;
    margin-bottom: 20px;
}

.bottom-add-field-buttons {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

label {
    font-weight: normal;
}

.edit-button {
    margin-left: 10px;
}

.other-button {
    margin-bottom: 30px;
}

/* Manager Index Styling */
.report-and-deatil-buttons {
    margin-left: 15px;
    display: inline-block;
}

/* Manager Data Styling */
.report-button {
    margin-top: 20px;
}

.operation-list {
    margin-left: 25px;
}

.operation-info-row {
    display: inline-block;
    margin-left: 10px;
}

/* Form Stylings */
.enter_data_form {
    display: inline-block;
    margin-bottom: 20px;
}

.bottom_buttons {
    display: inline-block;
}

.error {
    color: red;
    list-style-type: none;
}
