<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'jobs/style.css' %}" />


</head>

<h1><a class="navbar-brand" href="/jobs/">{{ job }}</a></h1>

{% if messages %}
    <ul class="messages">
            {% for message in messages %}
                <li class="error">{{ message }}</li>
            {% endfor %}
    </ul>
{% endif %}

<br />
<p>Date Created:&emsp;&emsp; {{ job.jmocreateddate }}</p>
{% for field in fields %}
    {% if field.is_a_meta_field == True and field.field_name == "template_set"  %}
        <p>Template In Use:&emsp;&emsp;{{ field.field_text }}</p><br />
    {% endif %}
{% endfor %}

<strong>INSTRUCTIONS:&emsp;</strong>
<br />
<strong>JOB INSTRUCTIONS:&emsp;</strong>
<br />
<strong>ASSEMBLY INSTRUCTIONS:&emsp;</strong>
<br />
<strong>OPERATION INSTRUCTIONS:&emsp;</strong>
<br />
{% if job.jmosfemessagetext %}
    <strong>EXTRA INSTRUCTIONS:&emsp;</strong>
        {{ job.jmosfemessagetext }}
    <br />
{% endif %}


<p>&emsp;</p>
<p>&emsp;</p>

{% for reopen_iterator in reopen_number %}
    {% for field in fields %}
        {% ifnotequal field.field_has_been_set False %}
            {% ifnotequal field.editing_mode True %}
                {% include 'jobs/forms/saved_field_form.html' %}
            {% else %}
                {% include 'jobs/forms/existing_field_form.html' %}
            {% endifnotequal %}
        {% else %}
            {% include 'jobs/forms/new_field_form.html' %}
        {% endifnotequal %}
    {% endfor %}

    {% for field in metafields %}
        {% ifequal field.field_name "submitted" %}
            {% ifequal field.field_text "false" %}
                <form action="{% url 'jobs:add_field' urluniqueid %}" method="post" name="add_field">
                    {% csrf_token %}
                    <input type="submit" name="add_field" value="Add Field"/>
                </form>
                {% include 'jobs/forms/submit.html' %}
            {% else %}
                {% include 'jobs/forms/reopen.html' %}
            {% endifequal %}
        {% endifequal %}
    {% endfor %}
    <hr>
{% endfor %}
<br /><br /><br /><br />

</html>
