<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'jobs/style.css' %}" />


</head>

<h1><a class="navbar-brand" href="/jobs">{{ job }}</a></h1>

{% if messages %}
    <ul class="messages">
            {% for message in messages %}
                <li class="error">{{ message }}</li>
            {% endfor %}
    </ul>
{% endif %}

<br />
<p>Date Created:&emsp;&emsp; {{ job.jmocreateddate }}</p>

<strong>INSTRUCTIONS:&emsp;</strong>
<br />
<strong>JOB INSTRUCTIONS:&emsp;</strong>
<br />
<strong>ASSEMBLY INSTRUCTIONS:&emsp;</strong>
<br />
<strong>OPERATION INSTRUCTIONS:&emsp;</strong>
<br />
{% if job.jmosfemessagetext %}
    <strong>EXTRA INSTRUCTIONS:&emsp;</strong>
        {{ job.jmosfemessagetext }}
    <br />
{% endif %}


<p>&emsp;</p>
<p>&emsp;</p>


{% for field in field_set %}
    {% ifnotequal field.field_has_been_set False %}
        {% ifnotequal field.editing_mode True %}
            {% include 'jobs/forms/saved_field_form.html' %}
        {% else %}
            {% include 'jobs/forms/existing_field_form.html' %}
        {% endifnotequal %}
    {% else %}
        {% include 'jobs/forms/new_field_form.html' %}
    {% endifnotequal %}
{% endfor %}


    <form action="{% url 'jobs:add_field' urluniqueid %}" method="post" name="add_field">
        {% csrf_token %}
        <input type="submit" name="add_field" value="Add Field"/>
    </form>

<br /><br /><br /><br />

</html>
