{% extends "jobs/pages/base.html" %}
{% block content %}

<div class="container">
    <div class="row page-title">
        <h1><a href="{% url 'workcenters:pick_center' %}">List of Operations</a></h1>
    </div>
    <div class="row">
        {% if jobs %}
            <div class="row operation-list">
                <h3>Current Operations</h3>
                    <ul class="list-unstyled">
                    {% for job in jobs %}
                        <li class="col-sm-12"><a href="{% url 'jobs:go_to_detail_or_picker' center job.jmouniqueid %}">{{ job }}</a></li>
                    {% endfor %}
                    </ul>
            </div>
        {% else %}
            <div class="row">
                <p>No jobs are available.</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
