{% extends "jobs/pages/base.html" %}
{% block content %}

<div class="container">
    <div class="row page-title">
        <h1><a href="{% url 'workcenters:pick_center' %}">List of Operations</a></h1>
    </div>
    <div class="row">
        {% if jobs %}
            <div class="row operation-list">
                <h2>Current Operations</h2>
                    <ul class="list-unstyled">
                    {% for job in jobs %}
                        <li class="col-sm-12"><h3><a href="{% url 'jobs:go_to_detail_or_picker' center job.jmouniqueid %}">{{ job }}</a></h3></li>
                    {% endfor %}
                    </ul>
            </div>
        {% else %}
            <div class="row none-avail">
                <p><h3>No jobs are available.</h3></p>
            </div>
        {% endif %}
    </div>
    <div class="row history">
        <div class="row">
            <h2>Old Operations</h2>
            <form type="get" action="." style="margin: 0">
                <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
                <button id="search_submit" type="submit" >Search</button>
            </form>
        </div>
        {% if history %}
            <div class="row">
                <br /><br />
                    <div class="row operation-list">
                        <ul class="list-unstyled">
                        {% for job in history %}
                            <li class="col-sm-12"><h3><a href="{% url 'jobs:go_to_detail_or_picker' center job.jmouniqueid %}">{{ job }}</a></h3></li>
                        {% endfor %}
                        </ul>
                    </div>
            </div>
        {% else %}
            <div class="row none-avail">
                <p>No jobs are available.</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
