{% extends "jobs/pages/base.html" %}
{% block content %}

<div class="container">
    <div class="row page-title">
        <h1><a href="{% url 'workcenters:pick_center' %}">List of Jobs</a></h1>
    </div>
    <div class="row">
        <form type="get" action="." style="margin: 0">
            <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
            <button id="search_submit" type="submit" >Submit</button>
        </form>
    </div>
    <div class="row">
        <br /><br />
        {% if jobs %}
            <div class="row operation-list">
                <ul class="list-inline">
                {% for job in jobs %}
                    <div class="row">
                    <li class="list-inline-item"><h4>{{ job }}</h4>
                        <form action="{% url 'jobs:manager_data_view' job %}" method="get" name="view_details" class="report-and-deatil-buttons">
                            {% csrf_token %}
                            <input type="submit" name="reopen" value="View Details"/>
                        </form>
                        {% include 'jobs/forms/create_report.html' %}
                        <br /><br />
                    </li>
                    </div>
                {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="row none-avail">
                <p>No jobs are available.</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
