{% extends "jobs/pages/base.html" %}
{% block content %}
{% load job_filters %}

<div class="container">
    <div class="row page-title">
        <h1><a href="{% url 'workcenters:pick_center' %}">List of Jobs</a></h1>
    </div>
    <div class="row">
        <br /><br />
        {% if jobs %}
            <div class="row operation-list">
                <ul class="list-unstyled list-inline">
                {% for job in jobs %}
                    <div class="row">
                    <li class="col-lg-3 list-inline-item"><a href=""><h4>{{ job }}</h4></a>
                        {% operations_by_job job %}
                    </li>
                    </div>
                {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="row none-avail">
                <p>No jobs are available.</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
