{% extends "jobs/pages/base.html" %}
{% block content %}

<div class="container">
    <div class="row page-title">
        <h1><a href="{% url 'workcenters:pick_center' %}">Old Operations:</a></h1>
    </div>
    <div class="row">
        <form type="get" action="." style="margin: 0">
            <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
            <button id="search_submit" type="submit" >Submit</button>
        </form>
    </div>

    <div class="row">
        {% if jobs %}
            <div class="row operation-list">
                <h2>Old Operations</h2>
                    <ul class="list-unstyled">
                    {% for job in jobs %}
                        {% ifnotequal job.jmouniqueid ''}
                            <li class="col-sm-12"><h3><a href="{% url 'jobs:go_to_detail_or_picker' job.workcenter_id job.jmouniqueid %}">{{ job }}</a></h3></li>
                        {% endifnotequal %}
                    {% endfor %}
                    </ul>
            </div>
        {% else %}
            <div class="row none-avail">
                <p><h3>No jobs are available.</h3></p>
            </div>
        {% endif %}
    </div>

</div>
{% endblock %}
