{% extends "jobs/pages/base.html" %}
{% block content %}

<div class="container">
    <div class="row page-title">
        <h1>Pick A Work Center To Begin</h1>
    </div>
    <div class="row">
        {% if workcenters %}
            <div class="row centers">
                <ul class="list-unstyled">
                {% for workcenter in workcenters %}
                    <li><h3><a href="{% url 'jobs:index' workcenter %}">{{ workcenter }}</a></h3></li>
                {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="row">
                <p><h3>No work centers are available.</h3></p>
            </div>
        {% endif %}
    </div>
    <div class="row page-title">
        <h1>Pick Your Employee ID To Begin</h1>
    </div>
    <div class="row">
        {% if employees %}
            <div class="row centers">
                <ul class="list-unstyled">
                {% for employee, workcenter in employees.items %}
                    <li><h3><a href="{% url 'jobs:index' workcenter %}">{{ employee }}:&emsp;{{ workcenter }}</a></h3></li>
                {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="row">
                <p><h3>No employees are clocked in.</h3></p>
            </div>
        {% endif %}
    </div>
    <div class="row">
        <form action="{% url 'jobs:old_index' %}"
    </div>
</div>
{% endblock %}
