{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'embossers/style.css' %}" />


<h1>Pick A Template To Begin</h1>

{% if processes %}
    <ul>
    {% for process in processes %}
        {% ifnotequal process.process_name "None" %}
            {% ifequal process.job_type "embosser" %}
                <li><a href="{% url 'embossers:set_process_template' job.id process.id %}">{{ process.process_name }}</a></li>
            {% endifequal %}
        {% endifnotequal %}
    {% endfor %}
    </ul>
{% else %}
    <p>No templates available.</p>
{% endif %}

<form action="{% url 'embossers:delete_job' job.id %}" name="back_from_template_chooser" class="bottom_buttons">
    <button type="submit">Back</button>
</form>

{% for process in processes %}
    {% ifequal process.process_name "None" %}
        <form action="{% url 'embossers:set_process_template' job.id process.id %}" name="continue_without_template" class="bottom_buttons">
            <button type="submit">Continue Without A Template</button>
        </form>
    {% endifequal %}
{% endfor %}
