{% extends "jobs/pages/base.html" %}
{% block content %}

<div class="container">
<h1>Pick A Template To Add To This Job Operation</h1>

{% if processes %}
    <ul class='list-unstyled'>
    {% for process in processes %}
        {% ifnotequal process.process_name "None" %}
            <li><h3><a href="{% url 'workcenters:set_process_template' uniqueid process.id %}">{{ process.process_name }}</a></h3></li>
        {% endifnotequal %}
    {% endfor %}
    </ul>
{% else %}
    <p><h3>No templates available.</h3></p>
{% endif %}

{% for process in processes %}
    {% ifequal process.process_name "None" %}
        <form action="{% url 'workcenters:set_process_template' uniqueid process.id %}" name="continue_without_template" class="bottom_buttons">
            <button type="submit">Continue Without A Template</button>
        </form>
    {% endifequal %}
{% endfor %}
</div>
{% endblock %}
