{% extends "jobs/pages/base.html" %}
{% block content %}

<div class="container">
    <div class="row page-title">
        <h1>Pick A Work Center To Begin</h1>
    </div>
    <div class="row">
        {% if workcenters %}
            <div class="row centers">
                <ul class="list-unstyled">
                {% for workcenter in workcenters %}
                    {% for item in workcenter.workcenter_id %}
                        <li><h3><a href="{% url 'jobs:index' item.workcenter_id %}">{{ item }}</a></h3></li>
                    {% endfor %}
                {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class="row">
                <p><h3>No work centers available.</h3></p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
