{% if operations %}
<form action="">
    <ul class="list-unstyled">
    {% for operation in operations %}
            <div class="row operation-number-row">
                <li class="col-sm-12"><h3>Operation:&emsp;{{ operation.jmojoboperationid }}</h3>
                {% if report %}
                    <input type='checkbox' name='operation' value='{{ operation.jmojobassemblyid }} {{ operation.jmojoboperationid }}'>
                {% endif %}
                {% include 'jobs/misc/fields_by_operation.html' %}
                </li>
            </div>
    {% endfor %}
    </ul>

    {% if report %}
        <form action="{% url 'jobs:populate_report' job %}" method="post" name="populate_report">
            {% csrf_token %}
            <input type="submit" name="populate" value="Populate Report"/>
        </form>
    {% else %}
        <div class="row report-button">
            {% include 'jobs/forms/create_report.html' %}
        </div>
    {% endif %}
</form>
{% endif %}
